.modified:before{
	content:" ... ";
}
.post-date .tags:before,
.post-date .lang:before{
	content:"| ";
}

.post-date .tags span:not(:last-of-type):after{
	content:", ";
}
.highlight .err{
	border:none;
}
.listing .post.other h2 a,
.listing .post h2 a,
a{
	color: #8a996e;
}
body, p{
	color: #434343;
}
ul.nav li a, h1,h2,h3,h4,h5,h6{
	color: #687252;
}