# Trash
logs/
save/
profiler/
dumps/
Server.cfg
imgui.ini
pocket_GMs.txt
*.log
**/free_pids.txt
*.i64
*.i32
WorldVersion

# Compiled data
*.fosb
*.fosp
*.fomapb
/scripts/fmod/bin/
**/obj/
/cache_fail
/ManagedFiles/
