---
layout: default
title: FOnline Roleplay Website
---

<h1>О сервере</h1>

<p style="margin-left:1em">
  Moooooooo!
</p>

{% comment %}
<h1>Информационный вестник</h1>
<div class="listing">
    {% for post in paginator.posts %}
    <div class="post other link">
      <p>
        <a href="{{site.url}}{{post.url}}">
          {{ post.title }}
        </a>
        <span class="post-date">
          <span class="created">{{post.date | date: "%d/%m/%Y"}}</span>{% if post.modified %}<span class="modified">{{post.modified | date: "%d/%m/%Y"}}</span>{% endif %}
          {% if post.lang %}
          <span class="lang">{{post.lang | upcase }}</span>
          {% else %}
          <span class="lang">EN</span>
          {% endif %}

          {% if post.tag %}
          <span class="tags">
            {% for tag in post.categories %}
            <span>{{tag}}</span>
            {% endfor %}
          </span>
          {% endif %}
        </span>
      </p>
      <p style="margin-left:1em">{{ post.description }}</p>
      {% comment %}{{ post.excerpt }}{% endcomment %}
    </div>
    {% endfor %}
</div>
{% endcomment %}