---
layout: default
title: FOnline Roleplay Website
---

<h1>О сервере</h1>

<p style="margin-left:1em">
  Moooooooo!
</p>

<h1>Присоединится</h1>

<p style="margin-left:1em">
  Для загрузки игрового клиента <a href="assets/FOnlineUpdater.exe">скачайте апдейтер</a>, положите его в пустую папку и запустите 
</p>

<h1>Лог обновлений</h1>

<div class="listing commits">
  <script>
    jQuery(function($){
      $.get("https://api.github.com/repos/fonline-roleplay/FO4RP/commits", function(result) {
        for (var i in result) {
          if (i > 10) break;
          var $card = $("<div class='post other link'><a href='"+result[i].html_url+"'>"+result[i].commit.message+"</a> "+(new Date(result[i].commit.author.date).toLocaleDateString().replace(/\./g,'/'))+" @"+result[i].commit.author.name+"</div>")
          $(".listing.commits").append($card)
          $(".listing.commits a").each(function(id, el){
            baffle(el).set({speed: 50, characters: "AaBbCcDdEeFfGgHhIiJjKkLlMmNnOoPpQqRrSsTtUuVvWwXxYyZz" }).reveal(500)
          })
        }
      })
    })
  </script>
</div>

<h1>Информационный вестник</h1>

<div class="listing">
    {% for post in paginator.posts %}
    <div class="post other link">
      <p>
        <a href="{{site.url}}{{post.url}}">
          {{ post.title }}
        </a>
        <span class="post-date">
          <span class="created">{{post.date | date: "%d/%m/%Y"}}</span>{% if post.modified %}<span class="modified">{{post.modified | date: "%d/%m/%Y"}}</span>{% endif %}
          {% if post.lang %}
          <span class="lang">{{post.lang | upcase }}</span>
          {% else %}
          <span class="lang">EN</span>
          {% endif %}

          {% if post.tag %}
          <span class="tags">
            {% for tag in post.categories %}
            <span>{{tag}}</span>
            {% endfor %}
          </span>
          {% endif %}
        </span>
      </p>
      <p style="margin-left:1em">{{ post.description }}</p>
      {% comment %}{{ post.excerpt }}{% endcomment %}
    </div>
    {% endfor %}
</div>
