---
layout: default
permalink: /tags/
title: Tags
---


<div id="archives">
{% for category in site.categories %}
  <div class="archive-group">
    {% capture category_name %}{{ category | first }}{% endcapture %}
    <div id="#{{ category_name | slugize }}"></div>
    <p></p>
    
    <h1 class="category-head">{{ category_name }}</h1>
    <a name="{{ category_name | slugize }}"></a>
    {% for post in site.categories[category_name] %}
      <p><span>{{post.date | date: "%d/%m/%Y"}}</span> <a href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a></p>
    {% endfor %}
  </div>
{% endfor %}
</div>