# Window name
WindowName = FOnline Mapper

# Path to server folder
ServerPath =D:\FoRPsdk

# Server executable and config name
ServerName = FOnlineServer

# Path to client folder
ClientPath =D:\Games\Client FO4RP

# Client executable and config name
ClientName = FOnline

# Mapper interface options
MapperInterface = mapper_default.ini

# Mapper language options
Language = russ