
{% if paginator %}
<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
     <a href="{{site.url}}/" class="disabled">Назад</a>
    {% else %}
      <a href="{{site.url}}/page{{paginator.previous_page}}" class="newer"><span class="mega-octicon octicon-playback-{% if site.rtl %}rewind{% else %}fast-forward{% endif %}" style="min-width: 32px;"></span></a>
    {% endif %}
  {% else %}
    <!--<a class="disabled" href="#">Назад</a>-->
  {% endif %}
  
  {% if paginator.next_page %}
    <a href="{{site.url}}/page{{paginator.next_page}}" class="disabled">
      Вперед
    </a>
  {% else %}
    <!--<a class="disabled" href="#">Вперед</a>-->
  {% endif %}
</div>
{%  endif %}