<div class="header-container container" id="header">
  <header>
    <a href="{{ site.url }}/" class="top-link">{{ site.name }}</a>
      <ul class="nav">
        <li><a href="{{ site.url }}/">Главная</a></li>
        <li><a href="{{ site.url }}/tags">Блог</a></li>
        <li><a href="{{ site.url }}/about">О нас</a></li>
        <li><a href="https://github.com/Erandelax/fonline-roleplay-server/issues">Github</a>
        <li><a href="https://discord.gg/qD6WYFY">Discord</a></li>
        <!--<li><a href="{{ site.url }}/memo">Memo</a></li>-->
        <li><a href="{{ site.url }}/feed.xml">RSS</a></li>
      </ul>
  </header>
</div>
