<div>ROBCO INDUSTRIES UNIFIED OPERATING SYSTEM</div>
<div>COPYRIGHT 2075-2077 ROBCO INDUSTRIES</div>
<div>-{{ site.name }}-</div>
<br>
<div class="hr">==============================================================================================================</div>
<nav>
    <a href="{{ site.url }}/">FO4RP</a>
    <a href="{{ site.url }}/about">О проекте</a>
    <a href="{{ site.url }}/download">Скачать</a>
    <a href="{{ site.url }}/tags">Архив</a>
    <a href="#!log">Git</a>
    <a href="https://discord.gg/qD6WYFY">Discord</a>
    <a href="{{ site.url }}/feed.xml">RSS</a>
</nav>
<div class="hr">==============================================================================================================</div>
<!--
  <img src="https://fonline-status.ru/status.php?s=207.154.212.89&p=4000&c_r=17&c_g=18&c_b=17&txt_r=53&txt_g=179&txt_b=20" class="fostatus" style="
    float: right">
-->