<div class="header-container container" id="header">
  <header>
    <a href="{{ site.url }}/" class="top-link">{{ site.name }}</a>
      <ul class="nav">
        <li><a href="{{ site.url }}/">Home</a></li>
        <li><a href="{{ site.url }}/tags">Topics</a></li>
        <li><a href="{{ site.url }}/about">About</a></li>
        <li><a href="https://github.com/Erandelax/fonline-roleplay-server/issues">Github</a>
        <li><a class="disabled" href="https://discord.gg/sFkCj5F">Discord</a></li>
        <li><a href="{{ site.url }}/memo">Memo</a></li>
        <li><a href="{{ site.url }}/feed.xml">RSS</a></li>
      </ul>
  </header>
</div>
