@-webkit-keyframes syncline {
    0% {transform: translate(0, -500px);}
    100% {transform: translate(0, 1200px);}
}
@-webkit-keyframes pulsate {
    0% {opacity: 0.25;}
    50% {opacity: 0.26;}
    100% {opacity: 0.25;}
}
@-webkit-keyframes fadein {
    0% { opacity:0;}
    100% { opacity: 1;}
}

* {
    margin:0;
    padding:0;
    line-height:1.2em;
}
.loaded.with-effects * {
    transition: background 0.2s, color 0.2s;
}
.logo{ 
    text-align:center;
}
body *{
    box-sizing: border-box;
}
html {
    display: flex;
    align-items: center;
    justify-content: center;
}
html,h1,h2,h3,h4,h5,h6,
.cmd, .cmd div, .cmd span:not(.inverted):not(.token):not(.emoji), .terminal, .terminal-output>:not(.raw) a, .terminal-output>:not(.raw) div, .terminal-output>:not(.raw) span:not(.token):not(.inverted):not(.error):not(.emoji){
    font-family: "Ubuntu Mono", monospace;  
    font-size:13pt;
    font-weight:normal;
    color: var(--color,#000);
    background-color: var(--background,transparent);
}
ul, li{
    list-style:none
}
.row li{
    list-style:circle
}
ul {
    padding-left:1em;
}
#content {
    padding-right:1em;
}
#content, #aside{
    max-height:100%;
    overflow-y:hidden;
    position:relative;
    text-align:justify;
}
.post{
    padding-right:1em;
    margin-bottom:1em;
}
.row p {
    margin:0;
}
.post[data-timestamp]{
    margin-right:1em;
}
.flex {
    display:flex;
}
.flex.horizontal {
    flex-direction:row;
    height:100%;
}
.flex.vertical {
    flex-direction:column;
    width:100%;
}
.flex.vertical.reverse {
    flex-direction: column-reverse;
}
.flex.horizontal.reverse {
    flex-direction: row-reverse;
}
.flex .fill {
    flex-grow:100;
}
.flex .fit {
    flex-grow: 1;
}
.flex .fit-12 {
    flex-grow:12;
}
.flex .fill-88 {
    flex-grow:88;
}
.menu ul {
    display: flex;
    flex-wrap:wrap;
}
.menu ul li a {
    height:100%;
    width: 100%;
    display:block;
}
.menu.main ul {
    width:100%;
    flex-direction:row;
    align-items: center;
    justify-content: center;
}
.menu.main li {
    flex-grow:1;
}
.menu.main ul li a {
    text-align:center;
}
.menu.aside {
    min-width: 10em;
}
.menu.aside ul {
    height:100%;
    flex-direction:column;
    align-items: stretch;
}
a {
    text-decoration:none;
    color:inherit;
}
.hr{
    max-width:100%;
    overflow:hidden;
    display:block;
}
.screen{
    height:94vh!important;
    width: 94vw!important;
}

input[type="radio"] {
    display:none;
}
input[type="radio"] + label{
    color: black;
    background-color:white;
    padding: 0 .3em;
}
input[type="radio"]:hover + label,
input[type="radio"]:checked + label{
    color:white;
    background-color:black;
}
iframe, img{
    max-width:100%;
}
iframe.left, img.left{
    float:left;
    margin-right:1em;
    margin-bottom:.1em;
}
iframe.right, img.right{
    float:right;
    margin-left:1em;
    margin-bottom:.1em;
}
.menu a {
    white-space: pre;
}

@media screen and (max-width: 920px) {
    .menu a {
        white-space: inherit;
    }
    .flex.horizontal{
        flex-direction:column;
    }
    .flex.horizontal.reverse{
        flex-direction:column-reverse;
    }
    #content{
        min-height:80%;
    }
    .logo{
        display:none;
    }
    #prompt{
        display: none;
    }
    .menu li, .menu div {
        padding:.2em;
        font-size:.95em;
    }
    .menu div{
        padding:.1em;
    }
    .hr{
        display:none;
    }
    .screen, body, html{
        height:100%!important;
        width:100%!important;
    }
    #content, #aside{
        overflow:auto;
    }
    #content{
        border-top:2px dotted;
        border-bottom:2px dotted;
        padding: 0 1em;
    }
    .menu{
        border-top:2px dotted;
    }
}

.half {
    max-width: 50%;
}
.quarter {
    max-width: 25%;
}
.third {
    max-width: 33%;
}

.center{
    margin: 0 auto;
    display: block;
}

.row code, .row, .row li{ 
    white-space: normal;
    overflow-wrap: break-word;
}

#contents{
    display:block;
    overflow:hidden;
}
#contents a{
    display:block;
    width:100%;
}
#contents{
    margin-bottom:1em;
}
#contents:empty{
    margin-bottom:0;
}
[data-category-filter], [data-subcategory-filter]{
    cursor: pointer;
}
[data-category], [data-subcategory]{
    display: none;
}
[data-category].active, [data-subcategory].active{
    display: block;
}
/*::selection {
    background-color: #0a0;
    color: #000;
}
@font-face {
    font-family: 'FixedSys';
    src: url('fixedsys.ttf')  format('truetype');
}
@font-face {
    font-family: 'Nouveau IBM';
    src: url('Nouveau_IBM.ttf')  format('truetype');
}


div[data-index]{
    animation:fadein .1s;
}

nav {
    flex-wrap: wrap;
}
nav a{
    min-width:100px;
}

body {
    animation:fadein 1s;
}

html,body,div,p,span,img,iframe,video,audio,h1,h2,h3,h4,h5,h6,header,footer,b,i{
    box-sizing: border-box;
    cursor: url('/assets/cursor.png'), auto;
}
p {
    text-align:justify;
}
a{
    cursor: url('/assets/cursor-inverted.png'), none;
}
.terminal-wrapper{
    display:flex;
    flex-direction: column;
    overflow:hidden;
}
.terminal-output{
    flex-grow:100;
    overflow-y:hidden;
    overflow-x:hidden;
}
.cmd{
    flex-grow:1;
}
html.with-effects #bg {
    background-image: url(bg.png);
    background-repeat: repeat;
    position: fixed;
    z-index: 500;
    top: 0;
    left: -2.5%;
    width: 105vw;
    height: 100vh;
    -webkit-animation: pulsate 2.48s ease-out;
    -webkit-animation-iteration-count: infinite;
    pointer-events: none;
    box-shadow: inset 1px -50px 200px 0px #000;
    -webkit-box-shadow: inset 1px -50px 200px 0px #000;
    -moz-box-shadow: inset 1px -50px 200px 0px #000;
    -o-box-shadow: inset 1px -50px 200px 0px #000;
}

html.with-effects #bg-line {
    background: none;
    background: -webkit-linear-gradient(transparent,#0a0);
    background: -o-linear-gradient(transparent,#0a0);
    background: -moz-linear-gradient(transparent,#0a0);
    background: linear-gradient(transparent,#0a0);
    position: fixed;
    opacity: 0.2;
    height: 500px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 600;
    -webkit-animation: syncline 10s ease-out;
    -webkit-animation-iteration-count: infinite;
    pointer-events: none;
}

#terminal{
    height:100%;
}

ul li {
    list-style: none;
}

nav {
    display:flex;
    flex-direction: row;
}
nav > * {
    flex-grow:1;
}

html {
    --background: #131313;
    --color: #11bb11;
    --size: 1.25;
}
html, body, p, #terminal {
    padding: 0;
    margin: 0;
    overflow:hidden;
}
.theader {
    text-align:center;
    padding-bottom:1em;
}

h1,h2,h3,h4,h5,h6{
    all:unset;
    font-family:inherit;
    text-decoration: inherit;
    font-weight:inherit;
    font-size:inherit;
    color:#ff0;
    padding-bottom:1em;
}

html, body, .cmd, .cmd div, .cmd span, .terminal, .terminal-output>:not(.raw) a, .terminal-output>:not(.raw) div, .terminal-output>:not(.raw) span{
    font-family: "Roboto Mono", monospace;  
    font-size: calc(var(--size, 1)*12px);
    line-height: calc(var(--size, 1)*16px);
    color: var(--color,#aaa);
    background-color: var(--background,#000);
}

body{
    max-width:790px;
    margin: 0 auto;
}
a { 
    color:#ff0;
    text-decoration:none;
}           
a:hover{
    background:var(--color,#aaa);
    color:var(--background,#000);
}
html, body {
    width:100%;
    height:100%;
}
html { 
    display:flex;
    flex-direction:column;
    overflow:hidden;
    align-items: center;
    justify-content: center;
}
body {
    height: 95%;
    width: 95%;
    display: flex;
    flex-direction:column;
}

.terminal-output h1,
.terminal-output h2,
.terminal-output h3,
.terminal-output h4,
.terminal-output h5,
.terminal-output h6,
.terminal-output p{
    padding-bottom:1em;
}

.hr{
    width:100%;
    white-space: pre;
    overflow:hidden;
    max-height:1em;
    text-overflow: "=";
}

.cmd{
    min-height:2.8em;
}

.rtop{
    background: transparent;
    border: none;
    color: #6c6;
    width: 20px;
    height: 20px;
    text-align: center;
    padding: 0;
    margin: 0;
    position: fixed;
    bottom: 2.6em;
    margin-left: -24px;
    transform: rotate(180deg);
}


.scroll {
    transform: rotate(90deg);
    z-index: 2;
    position: fixed;
    right: 0;
    bottom: 20px;
}

.scroll button {
    background: transparent;
    border: none;
    color: #353;
    outline: 0;
}

.scroll button:hover {
    color:#3a3;
}

.prompt{
    color:#ff0;
}

.terminal-output img {
    max-width:100%;
}

.terminal table {
    width:100%;
} 

.terminal td {
    border:0;
}
.terminal img{ 
    cursor: url('/assets/cursor.png'), pointer;
}
.terminal img.center{ 
    margin: 0 auto;
}
.terminal img.left{
    float: left;
    margin-right: 1em;
}
.terminal img.right{
    float: right;
    margin-left: 1em;
}
*/