html, body, ul, input, label, textarea{
    margin:0; 
    padding:0;
    cursor: url('/assets/cursor.png'), pointer;
}
html {
    font-family: "Ubuntu Mono", monospace;
    color:#0c0;
    background-attachment: fixed;
    animation:fade-in 2s forwards;
}
.avatar{
    display:none;
}
body{
    padding-top:1em;
    padding-bottom:3em;
    padding-left:1em;
    padding-right:1em;
}
@media only screen and (min-width: 1024px) {
    head{
        padding-top:1em!important;
    }
    body{
        padding-top:0;
    }
    .avatar{
        filter: sepia(1) hue-rotate(50deg) saturate(5);
        float:right;
        /*display: block;*/
        opacity:.5;
    }
    .avatar:hover{
        opacity:1;
    }
    head *, head{
        all:unset;
        display:block;
        /*opacity:.5;*/
        color:#007600;
    }
    head {
        font-size:.75em;
    }
    meta:before{
        content:"META " attr(name) " " attr(content);
    }
    title:before{
        content:"TITLE ";
    }
    link:before{
        content:"LINK " attr(rel) " " attr(type) " " attr(href);
    }
    script:before{
        content: "SCRIPT " attr(src);
    }
    .mobile{
        display:none;
    }
}
head, body {
    margin: 0 auto;
    max-width: 800px;
    animation:  0.5s fade-in forwards;
    animation-delay: 0.3s;
    opacity:0;
}
body * {
    font-size:1em;
    font-weight:300;
}
p,h1,h2,h3,h4,h5,h6{
    margin:0;
    padding:0;
}
h1,h2,h3,h4,h5,h6{
    position:relative;
    margin-top:1.5em;
    margin-bottom:.1em;
    text-transform: uppercase;
    width:auto;
}
h1:before,h2:before,h3:before,h4:before,h5:before,h6:before{
    content:"> ";
}
h1:hover,h2:hover,h3:hover,h4:hover,h5:hover,h6:hover{
    color:black;
    background:#0c0;
    cursor: url('/assets/cursor-inverted.png'), none;
}
h1 {
    font-size:1.12em;
}
body a {
    text-decoration: none;
    color:#0c0;
    cursor: url('/assets/cursor-inverted.png'), none;
}
body a:after {
    content:" [" attr(href) "]";
    color:#007600;
}
body a:hover:after {
    content:" [" attr(href) "]";
    color:#000;
}
body a:hover{
    background:#0c0;
    color:black;
}
body a:hover:after{
    opacity: 1;
}
body ul{
    list-style-type: none;
    color:#0a0;
}
li.p:before {
    content:" ";
}
.noli:before{
    content: "> ";
}
body ul li {
    position:relative;
}
/*body ul:hover{
    opacity: 1;
}*/
body ul li:before{
    content:"- ";
}
body ul li.title:not(:first-of-type){
    margin-top:.3em;
}
body ul li.title:before{
    content: "# ";
}
body p.desc, body ul li.desc, body ul li .desc{
    margin-left:1em;
    color: #008800;
}
body ul > span{
    margin-left:1em;
}
body li:not(:first-of-type){
    margin-top:.2em;
}
.i {
    font-style: italic;
}
h1,h2,h3,h4,h5,h6>span{
    opacity:.9999; /*MS Edge makes it invisible if it is 1.0, dunno why*/
}
.submerged {
    color: #060;
}
.hidden {
    display:none;
}
.subtitle{
    display:block;
    padding-left:1em;
    color: #060;
}
h1:hover .submerged,
h1:hover .subtitle{
    color:#000;
}
.br{
    display: block;
}
.expander{
    display:none;
}
.expander + label:before{
    content:"[Click to show the rest of the list]";
}
.expander + label ~ * {
    display:none;
}
.expander:checked + label:before {
    content:"[Click to hide the rest of the list]";
}
.expander:checked + label ~ * {
    display:block;
}
.hidden{
    display:none;
}
#portfolio + ul li img{
    display:none;
    opacity: 0;
    animation:fade-in .2s .5s forwards;
    pointer-events:none;
    width:80%;
    border: 1px solid green;
    z-index: 10000000;
    right:0;
    position:absolute;
    bottom:110%;
}
#portfolio + ul li:hover img{
    display: block;
}
@keyframes fade-in {
  from {opacity:0}
  to {opacity:1}
}
@media only print{
    *{color:black!important}   
    *:before{display:none}
    ul{padding-left:1em}
}
::-moz-selection { color:black;background:#0f0}
::selection { color:black;background:#0f0}

::-webkit-scrollbar {
  width: 2px;
}
::-webkit-scrollbar-track {
  background: transparent; 
}
::-webkit-scrollbar-thumb {
  background: #030; 
}

@keyframes brightness {
    0% {filter:brightness(1.0)}
    50% {filter:brightness(1.1)}
    100% {filter:brightness(1.0)}
}
@keyframes scanline {
  from {top:-140vh}
  to {top:140vh}
}

html:not(.with-effects):after,
html:not(.with-effects):before{
    display:none!important;
}

@media only screen and (min-width: 1024px) {
    html:before, html:after{
        content:"";
        top:0;
        left:0;
        height:100vh;
        width:100vw;
        display:block;
        position:fixed;
    }
    html:before{
        background:url(/assets/bg.png) center/cover;
        animation:brightness 5s ease infinite;
    }
    html.with-effects body{
        mix-blend-mode: exclusion;
    }
    html.with-effects:after{
        background:url(/assets/noise.gif) repeat;
        background:url(/assets/noise.webp) repeat;
        pointer-events:none;
        mix-blend-mode:overlay;
        opacity: .23;
    }
    html.with-effects body:before{
        display: block;
        content: "";
        width: 100%;
        height: 40vh;
        position: fixed;
        top: -40vh;
        left: 0;
        pointer-events:none;
        animation:scanline 50s infinite;
        z-index:10;
        opacity: .02;
        mix-blend-mode:difference;
        background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,255,0,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,255,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,255,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#00ff00',GradientType=0 ); /* IE6-9 */
    }
    @keyframes glitch {
        0% {filter:none}
        3% {filter:drop-shadow(2px 0px #0d0)}
        5% {filter:drop-shadow(-2px 0px #0d0)}
        8% {filter:none}
    }
    html.with-effects a,
    html.with-effects h1,
    html.with-effects h2,
    html.with-effects h3,
    html.with-effects h4,
    html.with-effects h5,
    html.with-effects h6 {
        animation:glitch 10s infinite;
    }
}