@font-face {
    font-family: 'FixedSys';
    src: url('fixedsys.ttf')  format('truetype');
}
@-webkit-keyframes syncline {
    0% {transform: translate(0, -500px);}
    100% {transform: translate(0, 1200px);}
}
@-webkit-keyframes pulsate {
    0% {opacity: 0.05;}
    50% {opacity: 0.2;}
    100% {opacity: 0.05;}
}
@-webkit-keyframes fadein {
    0% { opacity:0;}
    100% { opacity: 1;}
}

div[data-index]{
    animation:fadein .1s;
}

nav {
    flex-wrap: wrap;
}
nav a{
    min-width:100px;
}

body {
    animation:fadein 1s;
}

html,body,div,p,span,img,iframe,video,audio,h1,h2,h3,h4,h5,h6,header,footer,b,i{
    box-sizing: border-box;
    cursor: url('/assets/cursor.png'), auto;
}
a{
    cursor: url('/assets/cursor-inverted.png'), none;
}
.terminal-wrapper{
    display:flex;
    flex-direction: column;
    overflow:hidden;
}
.terminal-output{
    flex-grow:100;
    overflow-y:hidden;
    overflow-x:hidden;
}
.cmd{
    flex-grow:1;
}
html.with-effects #bg {
    background-image: url(bg.png);
    background-repeat: repeat;
    position: fixed;
    z-index: 500;
    top: 0;
    left: -2.5%;
    width: 105vw;
    height: 100vh;
    -webkit-animation: pulsate 2.48s ease-out;
    -webkit-animation-iteration-count: infinite;
    pointer-events: none;
    box-shadow: inset 1px -50px 200px 0px #000;
    -webkit-box-shadow: inset 1px -50px 200px 0px #000;
    -moz-box-shadow: inset 1px -50px 200px 0px #000;
    -o-box-shadow: inset 1px -50px 200px 0px #000;
}

html.with-effects #bg-line {
    background: none;
    background: -webkit-linear-gradient(transparent,#0a0);
    background: -o-linear-gradient(transparent,#0a0);
    background: -moz-linear-gradient(transparent,#0a0);
    background: linear-gradient(transparent,#0a0);
    position: fixed;
    opacity: 0.2;
    height: 500px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 600;
    -webkit-animation: syncline 10s ease-out;
    -webkit-animation-iteration-count: infinite;
    pointer-events: none;
}

#terminal{
    height:100%;
}

ul li {
    list-style: none;
}

nav {
    display:flex;
    flex-direction: row;
}
nav > * {
    flex-grow:1;
}

html {
    --background: #131313;
    /*--color: #22bb22;*/
    --color: #11bb11;
    --size: 1.25;
}
html, body, p, #terminal {
    padding: 0;
    margin: 0;
    overflow:hidden;
}
.theader {
    text-align:center;
    padding-bottom:1em;
}

h1,h2,h3,h4,h5,h6{
    all:unset;
    font-family:inherit;
    text-decoration: inherit;
    font-weight:inherit;
    font-size:inherit;
    color:#ff0;
    padding-bottom:1em;
    /*text-align:center;
    width:100%;
    display:inline-block;*/
}
/*h1:before,h2:before,h3:before,h4:before,h5:before,h6:before{
    color:#550;
}*/
/*h1:before{content:"# "}
h2:before{content:"## "}
h3:before{content:"### "}
h4:before{content:"#### "}
h5:before{content:"##### "}
h6:before{content:"###### "}*/

html, body, .cmd, .cmd div, .cmd span, .terminal, .terminal-output>:not(.raw) a, .terminal-output>:not(.raw) div, .terminal-output>:not(.raw) span{
    /*font-family: 'FixedSys', monospace;*/
    font-family: "Roboto Mono", monospace;  
    font-size: calc(var(--size, 1)*12px);
    line-height: calc(var(--size, 1)*16px);
    color: var(--color,#aaa);
    background-color: var(--background,#000);
}

body{
    max-width:790px;
    margin: 0 auto;
}
a { 
    color:#ff0;
    text-decoration:none;
}           
a:hover{
    background:var(--color,#aaa);
    color:var(--background,#000);
}
html, body {
    width:100%;
    height:100%;
}
html { 
    display:flex;
    flex-direction:column;
    overflow:hidden;
    align-items: center;
    justify-content: center;
}
body {
    height: 95%;
    width: 95%;
    display: flex;
    flex-direction:column;
}

.terminal-output h1,
.terminal-output h2,
.terminal-output h3,
.terminal-output h4,
.terminal-output h5,
.terminal-output h6,
.terminal-output p{
    padding-bottom:1em;
}

.hr{
    width:100%;
    white-space: pre;
    overflow:hidden;
    max-height:1em;
    text-overflow: "=";
}
/*.terminal>div:not(.font) {
    min-height: 75%;
}*/

.cmd{
    min-height:2.8em;
}

.rtop{
    background: transparent;
    border: none;
    color: #6c6;
    width: 20px;
    height: 20px;
    text-align: center;
    padding: 0;
    margin: 0;
    position: fixed;
    bottom: 2.6em;
    margin-left: -24px;
    transform: rotate(180deg);
}


.scroll {
    transform: rotate(90deg);
    z-index: 2;
    position: fixed;
    right: 0;
    bottom: 20px;
}

.scroll button {
    background: transparent;
    border: none;
    color: #353;
    outline: 0;
}

.scroll button:hover {
    color:#3a3;
}

.prompt{
    color:#ff0;
}

.terminal-output img {
    max-width:100%;
}

.terminal table {
    width:100%;
} 

.terminal td {
    border:0;
}
.terminal img{ 
    cursor: url('/assets/cursor.png'), pointer;
}
.terminal img.center{ 
    margin: 0 auto;
}
.terminal img.left{
    float: left;
    margin-right: 1em;
}
.terminal img.right{
    float: right;
    margin-left: 1em;
}