html {
    font-family: 'Share Tech Mono', monospace;
    color:#0c0;
    background-attachment: fixed;
    animation:fade-in 2s forwards;
    background-color:#131313;
}
code {
    font-family: 'Share Tech Mono', monospace;
}
body{
    max-width: 720px;
    margin:0 auto;
    color:#080;
    padding-left:1em;
    padding-right:1em;
}
h1,h2,h3,h4,h5,h6{
    font-weight:normal;
    font-size:1em;
    color:#0f0;
    margin-top:1em;
}
h1:before{
    content:"# ";
}
h2:before{
    content:"## ";
}
h3:before{
    content:"### ";
}
h4:before{
    content:"#### ";
}
h5:before{
    content:"##### ";
}
h6:before{
    content:"###### ";
}
h1:before,
h2:before,
h3:before,
h4:before,
h5:before,
h6:before{
    color:#070;
}

/* Animations */
@keyframes fade-in {
  from {opacity:0}
  to {opacity:1}
}
@keyframes brightness {
    0% {filter:brightness(1.0)}
    50% {filter:brightness(1.1)}
    100% {filter:brightness(1.0)}
}
@keyframes scanline {
  from {top:-140vh}
  to {top:140vh}
}



/* Scrollbars */
::-webkit-scrollbar {
  width: 2px;
}
::-webkit-scrollbar-track {
  background: transparent; 
}
::-webkit-scrollbar-thumb {
  background: #030; 
}
header{
	margin-top:2em;
}
.container:last-of-type{
	margin-bottom:4em;
}
header .top-link{
	font-size:2em;
}
header .nav{
	list-style: none;
}
header .nav{
	display:flex;
	flex-direction:row;
	width:100%;
	margin:0;
	padding:0;
}
a:hover{
	color:#000;
	background:#0f0;
}
a:before{
    color:#040;
	content:"[";
}
a:after{
    color:#040;
	content:"]";
}
a:empty:before,a:empty:after{
    content: "";
}
a.disabled{
    color:#040;
    pointer-events: none;
}
img, iframe, video, pre{
    filter:contrast(0.6) sepia(1) brightness(.7) contrast(1.5) hue-rotate(60deg) saturate(5) brightness(.75);
	-webkit-transition: all .4s; 
	transition: all .4s;
}
img:hover, iframe:hover, pre:hover, video:hover{
	filter:none;
}

html:not(.with-effects):after,
html:not(.with-effects):before{
    display:none!important;
}

html:before, html:after{
    content:"";
    top:0;
    left:0;
    height:100vh;
    width:100vw;
    display:block;
    position:fixed;
}
html:before{
	z-index:-1;
}
html:after{
	z-index: 2;
}
body{
	z-index: 0;
}

html:before{
    background:url(/assets/bg.png) center/cover;
    animation:brightness 5s ease infinite;
    pointer-events: none;
}
html.with-effects:after{
    background:url(/assets/noise.gif) repeat, url(/assets/noise.webp) repeat;
    pointer-events:none;
    /*mix-blend-mode:overlay;*/
    opacity: .05;
}
html.with-effects body:before{
    display: block;
    content: "";
    width: 100%;
    height: 40vh;
    position: fixed;
    top: -40vh;
    left: 0;
    pointer-events:none;
    animation:scanline 50s infinite;
    z-index:10;
    opacity: .02;
    mix-blend-mode:difference;
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,255,0,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,255,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,255,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#00ff00',GradientType=0 ); /* IE6-9 */
}

/* Code highlighting */
.highlight span.cp,
.highlight span.kt,
.highlight span.k{
	color:rgb(255,190,80);
}
.highlight span.n{
	color:rgb(190,190,190);
}
.highlight span.err,
.highlight span.p{
	color:rgb(0,180,0);
}
.highlight span.s{
	color:#999;
}
.highlight span.c1{
	color:#777;
}	
.pagination{
    text-align:right;
    margin-top:2em;
}
.post-date{
    font-size:1em;
    color:#070;
}
p{
    text-align:justify;
}
p img, i video, p iframe, p pre{
    max-width:100%;
}