html{
    background:#030303;
    color:#ccc;    
    --color: #ccc;
    --background: transparent;
}
a, h1, h2, h3, h4, h5, h6, code, .mention, strong {
    color:gray;
}
a.active, a:hover{
    color:white;
}
::selection {
    background-color: #fff;
    color: #000;
}
/*iframe, img{
    filter: grayscale(1);
}*/


input[type="radio"] + label{
    color: #fff;
    background-color:transparent;
}
[data-category-filter]:hover, [data-subcategory-filter]:hover,
a:hover,
input[type="radio"]:hover + label,
input[type="radio"]:checked + label{
    color:black;
    background-color:#fff;
}