html{
    background:black;
    color:#0a0;
    --color: #0a0;
    --background: transparent;
}
a, h1, h2, h3, h4, h5, h6, code, .mention {
    color:yellow;
}
a.active, a:hover{
    color:#0a0;
}
::selection {
    background-color: #0a0;
    color: #000;
}

html.with-effects #bg {
    background-image: url(../bg.png);
    background-repeat: repeat;
    position: fixed;
    z-index: 500;
    top: 0;
    left: -2.5%;
    width: 105vw;
    height: 100vh;
    -webkit-animation: pulsate 2.48s ease-out;
    -webkit-animation-iteration-count: infinite;
    pointer-events: none;
    box-shadow: inset 1px -50px 200px 0px #000;
    -webkit-box-shadow: inset 1px -50px 200px 0px #000;
    -moz-box-shadow: inset 1px -50px 200px 0px #000;
    -o-box-shadow: inset 1px -50px 200px 0px #000;
}

html.with-effects #bg-line {
    background: none;
    background: -webkit-linear-gradient(transparent,#0a0);
    background: -o-linear-gradient(transparent,#0a0);
    background: -moz-linear-gradient(transparent,#0a0);
    background: linear-gradient(transparent,#0a0);
    position: fixed;
    opacity: 0.2;
    height: 500px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 600;
    -webkit-animation: syncline 10s ease-out;
    -webkit-animation-iteration-count: infinite;
    pointer-events: none;
}

/*html.with-effects:before{
    background-image: url(../bg.png);
    display:block;
    content: " ";
    z-index: -1;
    height:100%;
    width:100%;
    position: fixed;
    -webkit-animation: pulsate 2.48s ease-out;
    -webkit-animation-iteration-count: infinite;
    pointer-events: none;
    box-shadow: inset 1px -50px 200px 0px #000;
    -webkit-box-shadow: inset 1px -50px 200px 0px #000;
    -moz-box-shadow: inset 1px -50px 200px 0px #000;
    -o-box-shadow: inset 1px -50px 200px 0px #000;
}
html.with-effects:after{
    content: ' ';
    background: none;
    background: -webkit-linear-gradient(transparent,#0a0);
    background: -o-linear-gradient(transparent,#0a0);
    background: -moz-linear-gradient(transparent,#0a0);
    background: linear-gradient(transparent,#0a0);
    position: fixed;
    opacity: 0.08;
    height: 500px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 600;
    -webkit-animation: syncline 10s ease-out;
    -webkit-animation-iteration-count: infinite;
    pointer-events: none;
}*/


input[type="radio"] + label{
    color: #0f0;
    background-color:transparent;
}
[data-category-filter]:hover, [data-subcategory-filter]:hover,
a:hover,
input[type="radio"]:hover + label,
input[type="radio"]:checked + label{
    color:black;
    background-color:#0a0;
}