html{
    background:#efefef;
    color:#111;    
    --color: #111;
    --background: transparent;
}
a, h1, h2, h3, h4, h5, h6, code, .mention, strong {
    color:#666;
}
a.active, a:hover{
    color:black;
}
::selection {
    background-color: #000;
    color: #fff;
}
/*iframe, img{
    filter: grayscale(1);
}*/
input[type="radio"] + label{
    color: #000;
    background-color:transparent;
}
[data-category-filter]:hover, [data-subcategory-filter]:hover,
a:hover,
input[type="radio"]:hover + label,
input[type="radio"]:checked + label{
    color:#fff;
    background-color:#000;
}