# [Field]
# Text - Label to display with control.
# FieldName - Variable name under ProtoItem.
# ItemTab - Subtab to put item in. Valid options: Armor, Ammo, Car, Container, Drug, Door, Generic, Grid, Key, Misc, Wall, Weapon or Custom created with CreateTab
# 	If no ItemTab is specified, previous one found is taken.
# DataType - Valid options: int, int16, uint, uint16, byte, bool
# PosX - Offset control in X direction with some pixels.
# PosY - Offset control in Y direction with some pixels.
# IncX - Increase X position with this many pixels after placing control. Only available with [Common]. Default=0
# IncY - Increase Y position with this many pixels after placing control. Only available with [Common]. Default=20
# Width - Set custom width of control, only valid for integers.
# Space - Fixed space in pixels between label and numerical field.
# Min - Set min value, only valid for integers. Default=0.
# Max - Set max value, only valid for integers. Default=100.

# Special entries: 
# [Common] - Set common default parameters and position for further drawing with PosX, PosY
# [Label] ItemType, Text - Draw a label in some tab, with text.
# [CreateTab] - Create a new tab
# TopTab - (Armor .. Weapon), if non-existing is entered, a new tab is created
# ItemTab - Identifier, for usage by other elements.
# Text - Label of ItemTab

# Notes:
# Startposition in tab is 10,10.
# At least one empty line between each entry is needed.
# . is not allowed in any name TopTab or ItemTab name.
# All data is processed in a procedural fashion (like a script).

# Armor Section
[CreateTab]
TopTab=Armor
ItemTab=ArmorCustom
Text=Custom

[Common]
ItemTab=ArmorCustom
Space=75

[Field]
Text=Armor Class
FieldName=Armor_AC
DataType=int

[Field]
Text=Armor Perk
FieldName=Armor_Perk
DataType=flag
DefinesPrefix=ARMOR_PERK_

[Common]
PosX=180
PosY=5
Width=50
Space=70

[Field]
Text=DR Normal
FieldName=Armor_DRNormal
DataType=int

[Field]
Text=DR Laser
FieldName=Armor_DRLaser
DataType=int

[Field]
Text=DR Fire
FieldName=Armor_DRFire
DataType=int

[Field]
Text=DR Plasma
FieldName=Armor_DRPlasma
DataType=int

[Field]
Text=DR Electro
FieldName=Armor_DRElectro
DataType=int

[Field]
Text=DR EMP
FieldName=Armor_DREmp
DataType=int

[Field]
Text=DR Explode
FieldName=Armor_DRExplode
DataType=int

[Common]
PosX=310
PosY=5

[Field]
Text=DT Normal
FieldName=Armor_DTNormal
DataType=int

[Field]
Text=DT Laser
FieldName=Armor_DTLaser
DataType=int

[Field]
Text=DT Fire
FieldName=Armor_DTFire
DataType=int

[Field]
Text=DT Plasma
FieldName=Armor_DTPlasma
DataType=int

[Field]
Text=DT Electro
FieldName=Armor_DTElectro
DataType=int

[Field]
Text=DT EMP
FieldName=Armor_DTEmp
DataType=int

[Field]
Text=DT Explode
FieldName=Armor_DTExplode
DataType=int

# Ammo Section
[Common]
ItemTab=AmmoMain
Space=75
PosX=127
PosY=37

[Field]
Text=Dmg Mult
FieldName=Ammo_DmgMult
DataType=uint
PosX=160
PosY=10

[Field]
Text=Dmg Div
FieldName=Ammo_DmgDiv
DataType=uint
PosX=160
PosY=35

[Field]
Text=DT Mod
FieldName=Item_DtMod
DataType=int
PosX=6
PosY=62

[Field]
Text=Ammo Perk
FieldName=Ammo_Perk
DataType=flag
DefinesPrefix=AMMO_PERK_
PosX=218
PosY=118

# Misc Section
[Common]
ItemTab=MiscMain
Space=75
PosX=6
PosY=12

[Field]
Text=Head Item Perk
FieldName=HeadItem_Perk
DataType=flag
DefinesPrefix=HEAD_PERK_

[Field]
Text=Subtype
FieldName=Item_Subtype
DataType=deflist
DefinesPrefix=ITEM_SUBTYPE_
PosX=6
PosY=46
Width=260

[Field]
Text=Food Thirst
FieldName=Food_Thrist
DataType=uint16
PosX=6
PosY=72
Width=85

[Field]
Text=Food Restore
FieldName=Food_Restore
DataType=uint16
PosX=181
PosY=72
Width=85

[Field]
Text=Food Flags
FieldName=Food_Flags
DataType=flag
DefinesPrefix=FOOD_
PosX=6
PosY=98

# Weapon Section
[Common]
ItemTab=WeaponMain
Space=75
PosX=6
PosY=12

[Field]
Text=Recoil
FieldName=Weapon_Recoil
DataType=uint8
PosX=293
PosY=84
Space=109
Width=90

[Field]
Text=Reload AP
FieldName=Weapon_ReloadAp
DataType=uint
PosX=293
PosY=109
Space=109
Width=90

[Field]
Text=Windup Time
FieldName=Windup_Time
DataType=uint16
PosX=497
PosY=12
Space=109
Width=90

[Field]
Text=Hear Radius
FieldName=Weapon_HearRadius
DataType=int
PosX=497
PosY=36
Space=109
Width=90

[Field]
Text=Min DMG Mod
FieldName=Weapon_MinDmgMod
DataType=uint
PosX=497
PosY=61
Space=109
Width=90

[Field]
Text=Max DMG Mod
FieldName=Weapon_MaxDmgMod
DataType=uint
PosX=497
PosY=86
Space=109
Width=90

[Field]
Text=Reload Wait Time
FieldName=Wait_Time_3
DataType=uint16
PosX=497
PosY=111
Space=109
Width=90

[Field]
Text=FlyEffect Speed
FieldName=FlyEffect_Speed
DataType=uint
PosX=701
PosY=12
Space=90
Width=90

[Field]
Text=Weapon Perk
FieldName=Weapon_Perk
DataType=flag
DefinesPrefix=WEAPON_PERK_
PosX=7
PosY=87

# Unarmed Sub-Section
[Common]
ItemTab=WeapUnarmed
Space=75

[Field]
Text=Crit Bonus
FieldName=Weapon_UnarmedCriticalBonus
DataType=int
PosX=300
PosY=14

[Field]
Text=Armor Piercing
FieldName=Weapon_UnarmedArmorPiercing
DataType=bool
PosX=6
PosY=36

# Attack 1 Sub-Section
[Common]
ItemTab=WeaponAttack1
Space=75

[Field]
Text=Wait Time
FieldName=Wait_Time_0
DataType=uint16
PosX=290
PosY=120
Space=87
Width=85

# Attack 2 Sub-Section
[Common]
ItemTab=WeaponAttack2
Space=75

[Field]
Text=Wait Time
FieldName=Wait_Time_1
DataType=uint16
PosX=290
PosY=120
Space=87
Width=85

# Attack 2 Sub-Section
[Common]
ItemTab=WeaponAttack3
Space=75

[Field]
Text=Wait Time
FieldName=Wait_Time_2
DataType=uint16
PosX=290
PosY=120
Space=87
Width=85

# Generic Section
[Common]
ItemTab=GenericMain
Space=100
PosX=6
PosY=12

[Field]
Text=Item Use AP
FieldName=Item_UseAp
DataType=uint16

[Field]
Text=Partial Item
FieldName=Partial_Item
DataType=uint8
PosX=6
PosY=36

[Field]
Text=Knife Tool Mod
FieldName=KnifeToolModif
DataType=int8
PosX=6
PosY=60

[Field]
Text=Axe Tool Mod
FieldName=AxeToolModif
DataType=int8
PosX=6
PosY=84

[Field]
Text=Scav Tool Mod
FieldName=ScavengingToolModif
DataType=int8
PosX=6
PosY=108

[Field]
Text=Mining Tool Mod
FieldName=MiningToolModif
DataType=int8
PosX=6
PosY=132

[Field]
Text=Tool Perk
FieldName=Tool_Perk
DataType=flag
DefinesPrefix=TOOL_
PosX=195
PosY=9

[Field]
Text=Fire Strength
FieldName=Fire_Strength
DataType=uint8
PosX=195
PosY=36

[Field]
Text=Blast Radius
FieldName=Blast_Radius
DataType=uint8
PosX=195
PosY=60