<!DOCTYPE html>{% if site.rtl %}<html dir="rtl">{% else %}<html>{% endif %}<head>
  {% include head.html %}
</head>
<body>
    <div id="bg"><div id="bg-line"></div></div>
    <noscript id="source">
      <header id="header" class="theader">
        {% include header.html %}        
      </header>
      <div id="main">
          {{ content }}
      </div>
      <footer>
        {% include footer.html %}
      </footer>
      <div class="hr">==============================================================================================================</div>
    </noscript>
  <div class="scroll"><button class="scroll-up">&lt;</button><button class="scroll-dn">&gt;</button></div>
</body>
</html>
