<!DOCTYPE html>{% if site.rtl %}<html dir="rtl">{% else %}<html>{% endif %}<head>
  {% include  _includes/head.html %}
</head>
<body>
    <div id="bg"><div id="bg-line"></div></div>

    <div class="flex vertical screen">
      <div class="fit logo">
          <p>ROBCO INDUSTRIES UNIFIED OPERATING SYSTEM</p>
          <p>COPYRIGHT 2075-2077 ROBCO INDUSTRIES</p>
          <p>-{{ site.name }}-</p>
      </div>
      <div class="menu main fit">
          <span class="hr">==================================================================</span>
          {% capture menu %}{% include _menus/main.md %}{% endcapture %}
          {{ menu | markdownify }}
          <span class="hr">==================================================================</span>
      </div>
      <div class="flex horizontal fill reverse">
          <div id="content" class="fill">
              <noscript id="source">
                {{ content }}
              </noscript>
          </div>
          <div class="menu aside fit" style="min-width:30vw" id="aside">
              {% assign categories =  site.articles | map: 'category' | join: ','  | split: ',' | uniq %}
              
              {% for category in categories | sort: 'title' %}{% if category != '' %}
                
                {% assign useEcho = true %}
              
                {% for article in site.articles | sort: 'title' %}{% if article.category contains category and article.subcategory == '' %}
                  {% if useEcho %}
                  <div>+ {{category}}</div>
                  {% assign useEcho == false %}
                  {% endif %}

                <div>  <a href="{{article.url}}">{{article.title}}</a></div>
                {% endif %}{% endfor %}

                {% assign subcategories =  site.articles | where_exp:"item","item.category contains category" | map: 'subcategory' | join: ','  | split: ',' | uniq %}
                {% for subcategory in subcategories | sort: 'title' %}{% if subcategory != '' %}

                  {% assign useEcho2 = true %}
                  {% for article in site.articles | sort: 'title' %}{% if article.category contains category and article.subcategory contains subcategory %}
                    {% if useEcho2 %}
                    <div>  + {{subcategory}}</div>
                    {% assign useEcho2 = false %}
                    {% endif %}

                  <div>    <a href="{{article.url}}">{{article.title}}</a></div>
                  {% endif %}{% endfor %}

                {% endif %}{% endfor %}

              {% endif %}{% endfor %}

              {% for article in site.articles | sort: 'title' %}{% if article.category == '' and article.subcategory == '' %}
              <div>+<a href="{{article.url}}">{{article.title}}</a></div>
              {% endif %}{% endfor %}
              
          </div>
      </div>
      <span class="hr">==================================================================</span>
      <div id="prompt"></div>
    </div>
</body>
</html>